h1 {
  margin: 0;  
  padding: 0;  
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 150%;
  font-weight: bold;
  width: 45em;
}

h2 {
  margin: 0;  
  padding: 0;  
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 120%;
  font-weight: bold;
}

p {
  width: 45em;  
}

table {
  margin: 0.25em;
  background-color: white;
  border-collapse: collapse;
  border-bottom: #AAAAAA solid thin;
  width: 45em;
}

table thead th {
  text-align: left;
  font-size: 125%;
  background-color: #F0F0F0;
  padding: 0.25em;
  border-bottom: #AAAAAA solid thin;
}

table thead th.value {
  color: #F0F0F0;
}

table tbody th {
  text-align: left;
  padding-left: 1em;
  width: 11em;
}

table tbody th,
table tbody td {
  padding: 0.25em;
}

table tr.even {
   background-color: #F0F0F0; 
}
