body table tr td th div span img a ul li h1 h2 h3 h4 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 10pt;
}

/* printable view */
#printableDiv {
    background: #fff;
    padding: 0 10px;
}

#printableDiv #print-title {
    font-size: 1.5em;
    color: #E05000;
    margin: 2px;
}

#printableDiv #print-title img {
    padding-right: 5px;
}

#printableDiv .pageURL {
    margin-bottom: 10px;
    font-size: 1.5em;
}

#printableDiv  .pageURL span {
    margin-left: 10px;
}

#printableDiv  #ainspectorDiv .section .title {
    font-size: 1.5em;
    margin-top: 10px;
}

#printableDiv  #ainspectorDiv .section .contentDiv {
    width: auto;
    height: auto;
    position: relative;
    margin-bottom: 20px;
    border: 4px #F9F9F9 ridge;
    padding-bottom: 10px;
}

#printableDiv .copyright {
    text-align: center;
    font-size: 10pt;
    margin-top: 20px;
}

#ainspectorDiv {
    min-width: 950px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

#ainspectorDiv a {
    color: #006CA2; /* blue */
}

#ainspectorDiv .summary {
    display: inline;
    white-space: nowrap;
    color: #767676;
}

#ainspectorDiv .summary .view-title {
    display: none;
}

#ainspectorDiv .summary .number,
#ainspectorDiv .section-summary .number {
    font-weight: bold;
    color: #767676;
}

/* START stats */
#statsDiv {
    width: 950px;
    margin: 0 20px 10px 20px;
    height: 275px;
}

#statsDiv .section-header {
    font-size: 10pt;
    color: #767676;
    border-bottom: 1px solid #767676;
    padding-top: 20px;
}

#statsDiv .stats-graph {
    margin: 10px 0;
    padding: 5px 0;
}

#statsDiv .stats-graph .canvas-title {
    text-align: center;
    padding-bottom: 5px;
}

#statsDiv #primed-cache,
#statsDiv #empty-cache {
    width: 435px;
    margin-top: 10px;
}

#statsDiv #empty-cache {
    margin-left: 15px;
    float: left;
    border-right: 1px solid #767676;
    padding-left: 10px;
}

#statsDiv #primed-cache {
    margin-right: 15px;
}

#statsDiv #stats-detail {
    margin-left: 180px;
}

#statsDiv #stats-detail .summary-row, 
#statsDiv #stats-detail .summary-row-2 {
    font-weight: bold;
    font-size: 10pt;
    color: #767676;
    padding: 5px 0;
}

#statsDiv #stats-detail #stats-table {
    margin-right: 20px;
    font-size: 9pt;
    border-spacing: 0;
}

#statsDiv #stats-detail #stats-table tr {
    height: 18px;
    border-top: 1px solid #767676;
}

#statsDiv #stats-detail #stats-table tr {
    border-top: 1px solid #767676;
}

#statsDiv #stats-detail #stats-table td {
    height: 18px;
    border-top: 1px solid #767676;
    margin: 2px 2px;
}

#statsDiv #stats-detail #stats-table td.legend {
    width: 22px;
}

#statsDiv #stats-detail #stats-table td .stats-legend {
    width: 10px;
    height: 10px;
    margin: 6px 6px;
}

#statsDiv #stats-detail #stats-table td.count {
    width: 28px;
    text-align: right;
}

#statsDiv #stats-detail #stats-table td.type {
    width: 100px;
    padding-left: 5px;
}

#statsDiv #stats-detail #stats-table td.size {
    width: 50px;
    text-align: right;
}


/* END stats */

/* BEGIN cookies */

#cookiesDiv table {
    margin: 10px 10px;
    border: 1px solid #767676;
    border-spacing: 0;
    font-size: 0.85em;
    width: 950px;
}
 
#cookiesDiv th {
    border: 1px solid #767676;
}

#cookiesDiv td {
    border: 1px solid #767676;
    vertical-align: top;
    padding: 5px 5px;
}

#cookiesDiv td.size {
    text-align: center;
}

#cookiesDiv #cookies td.value div {
    width: 550px;
    word-wrap: break-word;
    text-wrap: unrestricted;
}

/* END cookies */

/* BEGIN components */
#componentsDiv #expand-all {
    display: none;
}

#componentsDiv #components table {
    margin: 10px 10px;
    border: 1px solid #767676;
    border-spacing: 0;
    font-size: 0.85em;
    width: 950px;
}
 
#componentsDiv #components th {
    border: 1px solid #767676;
}

#componentsDiv #components td {
    border: 1px solid #767676;
    padding: 2px 5px;
    height: 40px;
    max-width: 350px;
}

#componentsDiv #components td.size,
#componentsDiv #components td.gzip,
#componentsDiv #components td.respTime {
    text-align: right;
}

#componentsDiv #components td.components, 
#componentsDiv #components td.headers {
    text-align: center;
}


/* END components*/

/* BEGIN Performance */

#reportDiv table {
    border-spacing: 0;
    width: 100%;
    font-size: 120%;
    border: black thin solid;
}

#reportDiv tr.header {
    font-weigth: bold;
    background: #DDDDDD;
}

#reportDiv tr.header th {
    border: solid black thin;
    padding: .25em;
}

#reportDiv td {
    border: solid black thin;
    padding: .25em;
    padding-left: .75em;
}

#reportDiv tr td.order,
#reportDiv tr td.level
{
  text-align: center;
    padding: .25em;
}

#reportDiv tr.even td
{
  background-color: #EEEEEE;
}


#reportDiv td.grade {
    width: 30px;
    border-width: 0 0 0 5px;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    border-bottom: 1px solid #767676;
}

#reportDiv td.desc {
    border-width: 0 0 1px 1px;
}

#reportDiv td.desc div.message,
#reportDiv td.desc ul {
    color: #ff0000;
}

#reportDiv .grade-A {
    border-color: #34a234;
}

#reportDiv .grade-B {
    border-color: #a4cb58;
}

#reportDiv .grade-C {
    border-color: #fadd3d;
}

#reportDiv .grade-D {
    border-color: #f5a249;
}

#reportDiv .grade-E {
    border-color: #00ff00;
}

#reportDiv .grade-F {
    border-color: #df4444;
}

/* Begin printable view styles */

span.gradeA {
  color: #34a234;
}

span.gradeB {
  color: #a4cb58;
}

span.gradeC {
  color: #fadd3d;
}

span.gradeD {
  color: #f5a249;
}

span.gradeF {
  color: #df4444;
}
span.gradeM {
  color: #8e8e8e; 
}
table#results {
   width: 100%;
   border-spacing: 0;
}
table#results th {
   padding: 10px 5px;
   text-align: left;
   vertical-align: top;
   background-color: #fff;
}
th.reqInfo {
   border-top: 2px solid #999;
}
table#results th.reqDesc,
table#results td {
   padding: 10px 5px;
   text-align: left;
   font-weight: normal;
   font-size: 80%;
   vertical-align: top;
}
tr.middleRow td {
   border-top: 1px solid #999;
}

.indent {
   width: 30px;
}
span.priority {
   font-weight: normal;
   font-size: 80%;
}
table#results td.fail {
   background-color: #fdd;
   font-weight: bold !important;
}
table#results td.pass {
   background-color: #dfd;
}
table#results td ul {
   padding-left: 15px;
}
.centerAlign {
   text-align: center !important;
}
td.emphasize {
   font-size: 1em !important;
   font-weight: bold !important;
}

.bottomBorder {
   border-bottom: 2px solid black;
}
.code {
   color: #06a;
}
.SEVERITY_VIOLATION {
   color: #800;
   font-weight: bold !important;
   text-size: 1.2em !important;
}
.SEVERITY_RECOMMENDATION {
   color: #b50;
}
.SEVERITY_POTENTIAL_VIOLATION,
.SEVERITY_POTENTIAL_RECOMENDATION {
   color: #808;
   font-weight: bold !important;
   text-size: 1.2em !important;
}
.SEVERITY_PASS {
   color: #070;
}

input.bnHideShow {
   float: right;
}

ol[aria-hidden="true"] {
   display: none;
}
/* END printable view styles */

/* END Performance */

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

tr.odd {
    background: #ffffff;
}

tr.event {
    background: #efefef;
}