div#ID_RULE_PROPERTIES {
  margin: 0.5em;
  padding: 0em;
}

h1 {
  margin: 0;  
  padding: 0;  
  margin-bottom: 0.5em;
  text-align: left;
  font-size: 150%;
  font-weight: bold;
}

h2 {
  margin: 0;  
  padding: 0;  
  margin-top: 0.75em;
  text-align: left;
  font-weight: bold;
  font-size: 135%;
}

p {
  margin: 0;  
  padding: 0;  
  margin-top: 0.25em;
  margin-left: 0.75em;
  font-size: 125%;
}

ul {
  margin: 0;  
  padding: 0;  
  margin-top: 0.25em;
  margin-left: 0.75em;
}

li {
  margin: 0;
  padding: 0;
  margin-left: 1em;  
  font-size: 125%;
}

ul.props {
  margin-left: 0em;
}

ul.props li {
  list-style: none;
  margin-left: 0em;  
}

ul.props li span {
  font-style: italic;
}

a {
  text-decoration: underline;  
    
}

li {
  padding-bottom: 0.5em;  
    
}

div.rule_properties {
  width: 500px;
  height: 500px;
  overflow:scroll;    
}

ul#ID_RULE_WCAG20_REQUIREMENTS li.primary a {
  color: black;
}

ul#ID_RULE_WCAG20_REQUIREMENTS li.related, 
ul#ID_RULE_WCAG20_REQUIREMENTS li.related a {
  font-style: italic;
  color: #666666;
}


div#ID_ADDTIONAL {
  margin: 0.25em;
  padding: 0.5em;
  border: solid gray thin;  
}
