/* See license.txt for terms of usage */

.panelNode-AInspector {
    overflow-x: hidden;
}

.netTable {
    width: 100%;
}

/************************************************************************************************/
/* Header for Grids */

.gridHeaderRow {
    height: 16px;
}

.gridHeaderRowz {
  margin: 0;
  border: 0;
  padding: 3px 5px;
  vertical-align: top;
  background-color: #999;
  color: #eee;
  white-space: nowrap;
}

.gridHeaderCell {
    cursor: pointer;
    -moz-user-select: none;
    border-bottom: 1px solid #9C9C9C;
    padding: 0 !important;
    font-weight: normal;
    color: #000000; 
    font-size: medium;
    background: #EEEEEE url(chrome://ainspector/skin/tableHeader.gif) repeat-x;
    white-space: nowrap; 
}

.gridHeaderRow > .gridHeaderCell:first-child > .gridHeaderCellBox {
    padding: 2px 14px 2px 18px;
}

.gridHeaderCellBox {
    padding: 2px 14px 2px 10px;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #9C9C9C;
    text-align: left;
}

.gridHeaderCell:hover:active {
    background: #959595 url(chrome://ainspector/skin/tableHeaderActive.gif) repeat-x;
}

.gridHeaderCell:focus {
	outline:none;
  background: #959595 url(../img/tableHeaderFocus.gif) bottom left repeat-x;
}

.gridHeaderSorted {
    background: #7D93B2 url(chrome://ainspector/skin/tableHeaderSorted.gif) repeat-x;
}

.gridHeaderSorted > .gridHeaderCellBox {
    border-right-color: #6B7C93;
    background: url(chrome://ainspector/skin/arrowDown.png) no-repeat right;
}

.gridHeaderSorted.sortedAscending > .gridHeaderCellBox {
    background-image: url(chrome://ainspector/skin/arrowUp.png);
}

.gridHeaderSorted:hover:active {
    background: #536B90 url(chrome://ainspector/skin/tableHeaderSortedActive.gif) repeat-x;
}

/************************************************************************************************/
/* Column visibility */

.netTable[hiddenCols~=linksOrderCol] TD[id="linksOrderCol"],
.netTable[hiddenCols~=linksOrderCol] TD.linksOrderCol,
.netTable[hiddenCols~=linksTextCol] TD[id="linksTextCol"],
.netTable[hiddenCols~=linksTextCol] TD.linksTextCol,
.netTable[hiddenCols~=linksTitleCol] TD[id="linksTitleCol"],
.netTable[hiddenCols~=linksTitleCol] TD.linksTitleCol,
.netTable[hiddenCols~=linksTypeCol] TD[id="linksTypeCol"],
.netTable[hiddenCols~=linksTypeCol] TD.linksTypeCol,
.netTable[hiddenCols~=linksIssuesCol] TD[id="linksIssuesCol"],
.netTable[hiddenCols~=linksIssuesCol] TD.linksIssuesCol, 
.netTable[hiddenCols~=linksHREFCol] TD[id="linksHREFCol"],
.netTable[hiddenCols~=linksHREFCol] TD.linksHREFCol {
    display: none;
}

.netTable[hiddenCols~=imgOrderCol] TD[id="imgOrderCol"],
.netTable[hiddenCols~=imgOrderCol] TD.imgOrderCol,
.netTable[hiddenCols~=imgTextCol] TD[id="imgTextCol"],
.netTable[hiddenCols~=imgTextCol] TD.imgTextCol,
.netTable[hiddenCols~=imgLinkCol] TD[id="imgLinkCol"],
.netTable[hiddenCols~=imgLinkCol] TD.imgLinkCol,
.netTable[hiddenCols~=imgWidthCol] TD[id="imgWidthCol"],
.netTable[hiddenCols~=imgWidthCol] TD.imgWidthCol,
.netTable[hiddenCols~=imgHeightCol] TD[id="imgHeightCol"],
.netTable[hiddenCols~=imgHeightCol] TD.imgHeightCol,
.netTable[hiddenCols~=imgRatioCol] TD[id="imgRatioCol"],
.netTable[hiddenCols~=imgRatioCol] TD.imgRatioCol,
.netTable[hiddenCols~=imgLongdescCol] TD[id="imgLongdescCol"],
.netTable[hiddenCols~=imgLongdescCol] TD.imgLongdescCol,
.netTable[hiddenCols~=imgIssuesCol] TD[id="imgIssuesCol"],
.netTable[hiddenCols~=imgIssuesCol] TD.imgIssuesCol {
    display: none;
}

/************************************************************************************************/

.failRow {
	background: #FFAAAA;
}
.warnRow {
	background: #FFFF99;
}
.checkRow {
	background: #FFE6CC;
}
.passRow {
	background: white;
}

.gridRow {
    background: LightYellow;
}

.gridRow.loaded {
    background: #FFFFFF;
}

.gridRow.loaded:hover {
    background: #EFEFEF;
}

.gridCol {
    padding: 0;
    vertical-align: top;
    color: #000000; 
/*    white-space: nowrap;    grid column sizes will not resize if this is set */
}

.gridOrderCol {
  text-align: right;
}

.gridLabel {
    width: 100%; 
}

.gridContent {
    width: 100%;
    text-align: left; 
}
.useA11y .a11yShowFullLabel {
    display: block;
    background-image: none !important;
    border: 1px solid #CBE087;
    background-color: LightYellow;
    font-family: Monaco, monospace;
    color: #000000;
    font-size: 10px;
    z-index: 2147483647;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.useA11y .panelNode-AInspector .a11yFocus:focus,
.useA11y .panelNode-AInspector .focusRow:focus {
    outline-offset: -2px;
    background-color: #FFFFD6 !important;
}

.useA11y .panelNode-AInspector .gridHeaderCell:focus,
.useA11y .panelNode-AInspector :focus .gridHeaderCell,
.useA11y .panelNode-AInspector :focus .netReceivingBar
