#ainspector-panel .ai-table-list-items {
  pading: 50px;
  width: 100%;
}

#ainspector-panel body, div, span, ul, li, h1, h2, h3, h4, h5, h6, hr, p, input, select, option, form, em, table, tr, td, img {
/* FIX ME : the original, below, makes the twisty be under the text
#ainspector-panel div, #ainspector-panel span, #ainspector-panel ul, #ainspector-panel li, #ainspector-panel hr, #ainspector-panel p, #ainspector-panel form, #ainspector-panel em, #ainspector-panel table, #ainspector-panel th, #ainspector-panel tr, #ainspector-panel td, #ainspector-panel img, #ainspector-panel label {
*/
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

#ainspector-panel {
    font-size: 8pt;
    font-weight: normal;
    font-family: Lucida Grande, Tahoma, sans-serif;
    color: #767676; /* dark grey */
    margin-right: 10px;
    padding: 1px;
    width: 100%;
    text-align: center;
    background: #ffffff;
}

#ainspector-panel .font10 {
    font-size: 10pt;
}

#ainspector-panel table {
    empty-cells: show;
}

#ainspector-panel td, #ainspector-panel th {
    font-size: 10pt;
}

#ainspector-panel input {
    font-size: 9pt;
}

#ainspector-panel input, 
#ainspector-panel select, 
#ainspector-panel option {
    font-size: 8pt;
    font-weight: bold;
    font-family: Lucida Grande, Tahoma, sans-serif;
    color: #767676; /* dark grey */
    margin: 0;
    padding: 0;
}

#ainspector-panel .padding50 {
    padding-left: 50px;
}

#ainspector-panel .padding100 {
    padding-left: 100px;
}

#ainspector-panel h1, 
#ainspector-panel h2, 
#ainspector-panel h3, 
#ainspector-panel h4, 
#ainspector-panel h5, 
#ainspector-panel h6 {
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#ainspector-panel h2 {
    color: #89B31F;  /* green */
    font-weight: bold;
    font-size: 16pt;
    margin: 0 0 0.4em;
}

#ainspector-panel h3 {
    color: #FF8800;   /* orange */
    font-weight: bold;
    font-size: 14pt;
    margin: 1em 0 0.4em;
}

#ainspector-panel h4 {
    font-weight: bold;
    color: #4f4f4f;
    font-size: 10pt;
    margin: 1em 0 0.4em;
}

#ainspector-panel .floatRight {
    float: right;
}

#ainspector-panel .floatLeft {
    float: left;
}

#ainspector-panel em {
    font-weight: bold;
    font-size: 8pt;
}


/* BEGIN TOOLBAR */

.toolbarLinks {
    float: left;
 }

#ainspector-panel #toolbarDiv {
    width: 1000px;
    text-align: left;
    margin-top: 5px;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset {
    font-size: 8pt;
    text-align: left;
    color: #767676;
    height: 20px;
    margin-left: 40px;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset select {
    margin: 0;
    padding: 0;
    height: 19px; 
    top: 0;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset option {
    margin: 2px 0;
    padding: 2px 5px;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset option.firstInGroup {
    border-top: 1px solid #767676;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset img { 
    border: none;
    margin: 0 5px 2px 5px;
    vertical-align: middle;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset a { 
    display: inline-block;
    color: #767676;
    margin-right: 5px;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset a em { 
    font-style: normal;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset a:hover em { 
    text-decoration: underline;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset ul {
    display: inline;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset li {
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#ainspector-panel #toolbarDiv #toolbar-ruleset li.first {
    border-right: 1px solid #767676;
}

#ainspector-panel #toolbarDiv #helpDiv {
    border: 1px solid #767676;
    position: absolute;
    top: 26px;
    left: 827px;
    font-size: 8pt;
    z-index: 99;
    background: #ffffff;
}

#ainspector-panel #toolbarDiv #helpDiv a {
    position: relative;
    display: block;
    padding: 5px 10px;
    color: #767676;
}

#ainspector-panel #toolbarDiv #helpDiv a:hover {
    color: #ffffff;
    background: #006ca2;
}

#ainspector-panel #toolbarDiv #helpDiv .new-section {
    border-top: 1px solid #767676;
}

#ainspector-panel #toolbarDiv .yui-hidden {
    display: none;
}

/* TabView */

#ainspector-panel #toolbarDiv .nav-menu {
    border:solid #767676; /* color between tab list and content */
    border-width:0 0 1px;
    margin-top: 5px;
}

#ainspector-panel #toolbarDiv .nav-menu li {
    display: -moz-inline-stack;
    display: inline-block;
    font-weight: 600; /* semi-bold */
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding:1px 0 0; /* gecko: make room for overflow */
    -moz-user-select : none;
}

#ainspector-panel #toolbarDiv .nav-menu .selected {
    margin: 0 0 -1px 0; /* for overlap */
}

#ainspector-panel #toolbarDiv .nav-menu li.selected {
    border: solid #767676;
    border-width: 1px 1px 1px 1px;
    border-bottom: 1px solid #fff;
}

#ainspector-panel #toolbarDiv .nav-menu li.first {
    margin-left: 5px;
}

#ainspector-panel #toolbarDiv .nav-menu li {
    vertical-align: bottom;
}

#ainspector-panel #toolbarDiv .nav-menu li em {
    font-style: normal;
}

#ainspector-panel #toolbarDiv .nav-menu li.selected span.pipe,
#ainspector-panel #toolbarDiv .nav-menu li.off span.pipe {
    visibility: hidden;
}

#ainspector-panel #toolbarDiv .nav-menu li span.pipe {
    display: block;
    height: 1.45em;
    position: absolute;
    right: -1px;
    top: 1px;
    width: 1px;
    background: #767676;
    border-right: 1px solid #fff;
}

#ainspector-panel #toolbarDiv .nav-menu ul li {
    background:#ffffff; /* tab background */
    border: solid #767676;
    border-width: 0;
    color:#767676;
    position:relative;
    text-decoration:none;
    padding: 0.35em 0.75em;
}

#ainspector-panel #toolbarDiv .nav-menu li{
    cursor:pointer;
}

#ainspector-panel #toolbarDiv .nav-menu li:hover {
    text-decoration: underline;
}

#ainspector-panel #toolbarDiv .nav-menu .yui-content {
    width: 100%;
    border: solid #ff0000;
    border-width: 1px 0 0 0;
    margin-top: -1px;
}

/* END TOOLBAR */

#ainspector-panel td.linksTextCol {
  text-align: left;
  padding-left: 5em;
}

#ainspector-panel td.linksHREFCol {
  text-align: left; 
  padding-left: 5em;
}

#ainspector-panel td.linksOrderCol {
  padding-right: 4em;
  text-align: left;
}


#ainspector-panel tr.gridHeaderRow {
  background: 6px solid #828282;
  font-weight: bold;
}

#ainspector-panel th.HeaderCell {
  text-align: center;
}

#ainspector-panel td.gridColumn {
  text-align: center;
}

