.domTable {
    width: 100%;
}

.treeRow .memberLabelCell {
  text-align: left;
}
.treeRow.hasChildren .treeLabel {
    background-image:url(chrome://firebug/skin/win/twistyClosed.png);
    background-repeat:no-repeat;
    background-position:2px 2px;
}

.treeRow.hasChildren.opened .treeLabel {
    background-image: url(chrome://firebug/skin/win/twistyOpen.png);
    background-repeat:no-repeat;
}

.treeRow .treeLabel {
    padding-left: 18px;
    padding-right: 10px;
}

.treeRow .treeLabel td {
  padding:25px 50px; 
  background-color: #121212;
}

.styleLabel {
    font-style: italic;
    font-size: 90%;
    font-weight: normal;
    color: gray;
}

.styleAction {
  font-style: italic;
  font-weight:bold;
}

.violationMsgTxt {
   background-color: #b22222; 
   color: white;
   font-weight: bold;
   display:block;
}

.manualMsgTxt {
  color: #b22222;
}
.hiddenMsgTxt {
   color: #333333; 
   font-size: small; 
   font-weight: bold;
}
.passMsgTxt {
  color: green;
}
.recommendationMsgTxt {
  background-color: #DAA520;
  color: #ffffff;
  font-weight: bold;
  width:80%;
}
.warnMsgTxt {
  background-color: #DAA520;
  color: white;
  font-weight: bold;
  display:block;
}
.infoMsgTxt {
  color: purple;
}
.violationRulesMsgTxt {
  background-color: #b22222; 
  color: #FFFFFF;
}
.recommendationRulesMsgTxt {
   background-color: #DAA520;
   color: #ffffff;
   font-weight: bold;
}
table:focus, .treeLabelxx:focus, .treeRow:focus {
}

/* END A11y Grade screen */

.treeitem {  margin-right: .6em;}
.collapsedgroup { display : none; }
.group { margin-left: 1.5em; }
.treeitemfocus { outline: 0px; background-color: #dddddd; color: black;}
